html,body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: #eee;
}

.container {
    background: #fff;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 64px;
    letter-spacing: -2px;
    font-weight: bolder;
    color: #288C00;
}

h2 {
    font-weight: bold;
}

.lead {
    color: #424242;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.page-header p {
    text-align: center;
    
}

#btnSubmit {
    margin: 10px 0;
    font-weight: bold;
    -webkit-border-radius: 20px;
}

#counts {
    padding: 10px;
    box-sizing: border-box;
}

.newLi {
    border: solid 1px #fc3;
    -webkit-border-radius: 10px;
}

.taskHolder {
    height: 100%;
    padding: 0;
    -webkit-border-radius: 10px;
}

.taskName {
    padding: 6px 10px;
    /*border: solid 1px green;*/
    background: #fc3;;
    -webkit-border-radius: 10px 0 0 10px;
}

.li:hover {
    cursor: pointer;
}

#list {
    /*border: solid 1px brown;*/
    padding: 10px 0;
    
}

#list section {
    margin: 10px 0;
    
}


#newTaskContainer {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    border: solid 1px black;
    -webkit-border-radius: 10px;
    
    /*background: grey;*/
    
}

.taskStatus {
    padding: 7px;
}

.btnDelete {
    padding: 9px;
    background: #ccc;
}

.btnDelete:hover {
    cursor: pointer;
    background: #ff3939;
}

.cardTwo {
    /*border: solid 1px purple;*/
    padding: 0 5px;
    margin-bottom: 10px;
}

.inputUpdate {
    padding: 0;
}

@media only screen and ( max-width:568px ) {
    
    .page-header {
        margin: 10px 0;
        padding: 0;
    }
    
    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 26px;
    }
    .lead {
        margin: 10px;
        font-size: 14px;
    }
    
    
}